<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=yes">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <title>Physicians Near You</title>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&radius=5000"></script>
	<script src="http://jqueryjs.googlecode.com/files/jquery-1.2.6.min.js"></script>
	
    <style>
      #map {
        height: 205px;
        width: 310px;
        border: 1px solid #333;
        margin-top: 0;
      }


	#wrapper {
		margin: 0 auto;		
		width: 320px;
	}
	
	#header {
		padding-top: 10px;
		font-size: 16pt;
		background-image: url('/images/ribbon_header.png');
		height: 36px;
		text-align: center;
		color: white;
		width: 312px;
	}
	body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;

	}

	
		#details {
			border-collapse:collapse;
			border:1px solid #666;
			background-color: #067591;
			width : 310px;
		}
	
		#reviews {
			border-collapse:collapse;
			border:1px solid #666;
			background-color: #399bb5;
			color: #FFF;
			width : 310px;
		}
		.review {
			border-collapse:collapse;
			padding: 2px;
			border:1px solid #666;
		}

		DIV.detail {
			
			position: relative;
			width: 100%;
			overflow: hidden;
		}
	
		.detail LABEL {
			
			font-weight: bold;
			position: absolute;
			left: 0;
			height: 100%;
			color: #FFF;
			width: 95px;
			display: block;
			float: left;
			text-align: left;
			padding: 2px;
		}
	
		.detail DIV.value {
			border-collapse:collapse;
			border:1px solid #666;	
			padding: 2px 4px;
			background-color: #FFF;
			display: block;
			margin-left: 4px;
			float: right;
			width: 205px;
		}
	
    </style>

    <script>
      var map;
      var infowindow;
	  var IDs = new Array();
	  var provider = '<%=provider%>';
	  var jsonObj = [];

      function initialize() {
        
		if (navigator.geolocation) {
        	navigator.geolocation.getCurrentPosition(function(position){
				//var latitude = position.coords.latitude;
				var latitude  = 34.101708;
        		//var longitude = position.coords.longitude;
				var longitude = -118.344324;
				var hollywood = new google.maps.LatLng(latitude, longitude);

        		map = new google.maps.Map(document.getElementById('map'), {
          			mapTypeId: google.maps.MapTypeId.ROADMAP,
		        	center: hollywood,
          			zoom: 14
        		});

	        	var request = {
	          		location: hollywood,
	          		rankBy: google.maps.places.RankBy.DISTANCE,
	          		types: ['doctor']
	        	};
		
				var marker = new google.maps.Marker({
					map: map,
					position: hollywood,
					icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
				});
		
				google.maps.event.addListener(marker, 'click', function() {
		          infowindow.setContent("Your location.");
		          infowindow.open(map, this);
				  //THIS IS WHERE WE CALL OUR SHIT
		        });
		
        		infowindow = new google.maps.InfoWindow();
        		
				var service = new google.maps.places.PlacesService(map);
        		service.search(request, callback);
      		});

	  	}else{
			alert("Your browser sucks- can't geolocate.");
	  	}
	
	  }
	  
      function callback(results, status) {
      	if (status == google.maps.places.PlacesServiceStatus.OK) {
		  
		  var locations = {};
          for (var i = 0; i < results.length; i++) {
            // put the ids in a flat array for filtering
	    	IDs[i] = results[i].id;
		    // store the locations in a hashmap, so we can place markers later
		    locations[results[i].id] = results[i];
          }
          
		  console.log(IDs);

          $.ajax({
        	url: '/test/places/doctor/filter/',
	        type: 'POST',
	        data: 'doctorContent='+JSON.stringify({ids:IDs})+'&provider='+provider,
        	contentType: "application/x-www-form-urlencoded",
			dataType: "json",
        	success : function (filteredMatches) {
            	for ( var i = 0; i < filteredMatches.length; i++) {
					var match = filteredMatches[i];
					createMarker(match, locations[match.id]);
				}
				console.log(jsonObj);
	  			console.log("Great success!");
        	}
	  	  });
        }
      }

      function createMarker(details, place) {
        var placeLoc = place.geometry.location;
        var marker = new google.maps.Marker({
          map: map,
          position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
		  $('#details').html([
			  formatDetail('Name', details.name),
			  formatDetail('Phone', details.phone),
		  	  formatDetail('Email', details.email),
			  formatDetail('Gender', details.gender),
			  formatDetail('School', details.school),
			  formatDetail('Degree', details.degree),
			  formatDetail('Languages', details.languages),
			  formatDetail('Specialties', details.specialties),
			  formatDetail('New OK?', details.acceptingNew ? 'Yes' : 'No'),
			  formatDetail('Certified?', details.boardCertified ? 'Yes' : 'No'),
			  formatDetail('Affiliation', details.affiliation),
			  formatDetail('Rating', details.rating)
			].join(""));
		  $('#reviews').html([
			  formatReview(details.reviews)
		  ].join(""));
			
			
			
          //infowindow.setContent(place.name);
          //infowindow.open(map, this);
        });
      }

	  function formatReview(review) {
		if(review == ""){
			review = "<i>Information Unavailable</i>";
		}
			return [
			'<div class="review"><b>Reviews :</b></div>',
			'<div class="review">', (typeof review == "object" ? review.join('</div><div class="review"> ') : value), '</div>',
		].join('');				


	  }

	  function formatDetail(label, value) {
		if(value == ""){
			value = "<i>Information Unavailable</i>";
		}
			return [
		'<div class="detail">',
		'<label>', label, '</label>',
'<div class="value">', (label == "Phone" ? "<a href=\"tel:"+value+"\">"+value+"</a>" : (typeof value == "object" ? value.join(', ') : value) ), '</div>',
		'</div>'
		].join('');
	  }
	  
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>
  <body>
	<div id="wrapper">
		<div id="header"><b>Physicians Near You</b></div>
    		<div id="map"></div>
    		<div id="details"></div>
    		<div id="reviews"></div>	
	</div>
  </body>
</html>
